@font-face {
    font-family: 'Espera';
    src: "Espera-Regular.ttf";
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Kiona Regular';
    src: "Kiona-Regular.ttf";
    font-weight: normal;
    font-style: normal;

}