html {scroll-behavior: smooth;
}

body {margin: 0;
    overflow-x: hidden;

 }

h1 {
    height: 8vmin;
    margin: 0px;
    padding: 0px;
    width: fill;
    text-align: center;
    background-color: 5390D9;
    line-height: 8vmin;
    font-family: kionaregular;
    font-size: 6vmin;
    transition: 0.5s;
    
}

.sidenav {
  height: calc(100% - 8vmin);
  width: 0px;
  position: absolute;
  top: 8vmin;
  background-color: 7400B8;
  transition: 0.5s;
  display: block;
  margin: 0;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidenav a {
  padding: 8px 0px 8px 10px;
  text-decoration: none;
  font-size: 1.6vmax;
  color: 56CFE1;
  display: block;
  transition: 0.3s;
  font-family: esperaregular;
  left: 0;
}

.sidenav a:hover {
  background-color: 56CFE1;
  color:7400B8;
    
}


#openbtn{
  font-size: 1.6vmax;
  cursor: pointer;
  background-color: 7400B8;
  color: 56CFE1;
  border: none;
  font-family: esperaregular;
  position: absolute;
  width:  15vw;
  left: 0px;
  height: 8vmin;
  transition: 0.3s;
  text-align: center;
}

#openbtn:hover {
  background-color: 56CFE1;
  transition: 0.3s;
  color: 7400B8;
}

#main1 {
  transition: left 0.5s;
  font-family: esperaregular;
  margin-left: 15vw;
  margin-right: 15vw;
  position: relative;
  width: 70vw;
  left: 0px;
  font-size: 2vh;
}

#main1 h2{
    text-align: center;
    margin-top: auto;
}

#main1 {
    border: .3vw;
    border-style: solid;
    border-color: 5390D9;
    padding: .5vw;
    
}

#main2 {
  transition: left 0.5s;
  font-family: esperaregular;
  margin-left: 15vw;
  margin-right: 15vw;
  position: relative;
  width: 70vw;
  left: 0px;
  font-size: 2vh;
}

#main2 h2{
    text-align: center;
    margin-top: auto;
}

#main2 {
    border: .3vw;
    border-style: solid;
    border-color: 5390D9;
    padding: .5vw;
}


/* On smaller screens, where height is less than 450px */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

#navbar {
    background-color: 7400B8;
    position: fixed;
    top: -50vmin;
    width: 100%;
    transition: 0.3s;
    font-family: esperaregular;
    z-index: 2;
}

#navbar a {
    float: left;
    display: block;
    color: 56CFE1;
    text-align: center;
    padding: 2vmin;
    text-decoration: none;
    transition: 0.3s;
}

#navbar a:hover {
    background-color: 56CFE1;
    color: 7400B8;
    
}

#main3 {
     transition: left 0.5s;
  font-family: esperaregular;
  margin-left: 15vw;
  margin-right: 15vw;
  position: relative;
  width: 70vw;
  left: 0px;
  font-size: 1.9vmin;
  border: .3vw;
    border-style: solid;
    border-color: 5390D9;
    padding: .5vw;
    
}

.img {
    margin: -0.5vw;
    border-right: .3vw;
    border-right-style: solid;
    border-right-color: 5390D9;
}

POGG {
    margin: 0;
    float: right;
    width: 52vw;
    text-align: center;
}

POGG WORDS {
    margin: 0;
    float: right;
    width: 52vw;
    text-align: left;
}

#Resource {
  margin-left: 15vw;
  margin-right: 15vw;
  position: relative;
}

@font-face {
    font-family: 'esperaregular';
    src: url('espera-regular-webfont.woff2') format('woff2'),
         url('espera-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kionaregular';
    src: url('kiona-regular-webfont.woff2') format('woff2'),
         url('kiona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}