html {scroll-behavior: smooth;
}

body {margin: 0;
    overflow-x: hidden;

 }

h1 {
    height: 10%;
    margin: 0px;
    padding: 0px;
    width: fill;
    text-align: center;
    background-color: 5390D9;
    line-height: 190%;
    font-family: Kiona Regular;
    font-size: 30px;
    transition: 0.5s
    
}

.sidebar {
  height: 100%;
  width: 0px;
  position: absolute;
  top: 10%;
  background-color: 7400B8;
  transition: 0.5s;
  display: block;
  margin: 0;
  padding: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.sidebar a {
  padding: 8px 0px 8px 10px;
  text-decoration: none;
  font-size: 2vw;
  color: 56CFE1;
  display: block;
  transition: 0.3s;
  font-family: Espera;
}

.sidebar a:hover {
  background-color: 56CFE1;
  color:7400B8;
    
}


#openbtn{
  font-size: 20px;
  cursor: pointer;
  background-color: 56CFE1;
  color: white;
  padding: 10px 15px;
  border: none;
  font-family: Espera;
  transition: 0.3s;
  margin-left: 12.5%;
  margin-right: 12.5%;
  position: relative;
  width:  calc(75% + 1.6vw);
  left: 0px;
  transition: left 0.5s;
}

#openbtn .openbtn:hover {
  background-color: 7400B8;
  transition: 0.3s;
}

#main1 {
  transition: left 0.5s;
  font-family: Espera;
  margin-left: 12.5%;
  margin-right: 12.5%;
  position: relative;
  width: 75%;
  left: 0px;
}

#main1 h2{
    text-align: center;
}

#main1 {
    border: .3vw;
    border-style: solid;
    border-color: 7400B8;
    padding: .5vw;
    
}

#main2 {
  transition: left 0.5s;
  font-family: Espera;
  margin-left: 12.5%;
  margin-right: 12.5%;
  position: relative;
  width: 75%;
  left: 0px;
}

#main2 h2{
    text-align: center;
}

#main2 {
    border: .3vw;
    border-style: solid;
    border-color: 7400B8;
    padding: .5vw;
}


/* On smaller screens, where height is less than 450px */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

#navbar {
    background-color: 7400B8;
    position: fixed;
    top: -50px;
    width: 100%;
    transition: 0.3s;
    font-family: Espera;
}

#navbar a {
    float: left;
    display: block;
    color: 56CFE1;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    transition: 0.3s;
}

#navbar a:hover {
    background-color: 56CFE1;
    color: 7400B8;
    
}