body {margin: 0;

 }

h1 {
    height: 10%;
    margin: 0px;
    padding: 0px;
    width: fill;
    text-align: center;
    background-color: 80FFDB;
    line-height: 190%;
    font-family: Kiona Regular;
    font-size: 30px;
    
}

.sidebar {
  height: 90%;
  width: 0;
  position: absolute;
  top: 10%;
  background-color: 7400B8;
  overflow-x: hidden;
  transition: 0.5s;
  display: block;
  margin: 0;
    padding: 0px;
  overflow-y: hidden;
}

.sidebar a {
  padding: 8px 0px 8px 20px;
  text-decoration: none;
  font-size: 25px;
  color: 80FFDB;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #f1f1f1;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: 56CFE1;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: 7400B8;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}